*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

.flex{
    display:flex;
    justify-content: space-between;
}
.right{
    background-color: #111;
    width:50%;
    size: 50%;
    height: 100vh;
}

.content{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
}
.img{
    color: #fff;
    width: 30%;
    border: solid #fff 5px;
    border-radius: 50%;
    height: 40%;
    margin-left: 40%;
    margin-top: 30%;
}
.p{
    color: #fff;
    font-size: 15pt;
    text-align: left;
    margin-top: 20%;
    width: 100%;
}
.field{
    width: 80%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    border-radius: 10px;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.register_container{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
}

img{
    margin-top: 10px;
    height: 5%;
}

.btn{
    background-color: #111;
    color: #fff;
    padding: 10px;
    width: 25%;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}