
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="icon" type="image/x-icon" href="{% static 'svg/incognito.svg' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'auths/login.css' %}">
    <title>
        {% block title %}
        GhostTalk
        {% endblock title %}
    </title>

</head>
<body>

<div class="flex">
    <h2><img src="{% static 'svg/logo.svg' %}"></h2>
<div class="register_container">
            {% block content %}
            {% endblock %}



</div>
<div class="right">
    <div class="content">
    <img class="img" src="{% static 'svg/incognito2.svg' %}"><br>
    <p class="p">Welcome to our anonymous chat application, where you can freely connect with others without revealing your identity. Engage in open conversations, share ideas, and explore diverse perspectives while maintaining complete anonymity.</p>
    </div>
</div>
</div>
</body>
</html>